* {
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: "JetBrainsMono Nerd Font Mono";
    font-weight: 500;
    font-size: 14px;
    padding: 0;
}

window#waybar {
    background: #1d2021;
    border: 2px solid #3c3836;
}

tooltip {
    background-color: #1d2021;
    border: 2px solid #7c6f64;
}

#clock,
#tray,
#cpu,
#temperature,
#memory,
#battery,
#network,
#wireplumber {
    margin: 6px 6px 6px 0px;
    padding: 2px 8px;
}

#workspaces {
    background-color: #303536;
    margin: 6px 6px 6px 6px;
    border: 2px solid #434a4c;
}

#workspaces button {
    all: initial;
    min-width: 0;
    box-shadow: inset 0 -3px transparent;
    padding: 2px 4px;
    color: #c7ab7a;
}

#workspaces button.active {
    color: #1d2021;
    background-color: #ddc7a1;
}

#clock {
    background-color: #303536;
    border: 2px solid #434a4c;
    color: #d4be98;
}

#tray {
    background-color: #d4be98;
    border: 2px solid #c7ab7a;
}

#cpu,
#memory,
#network,
#battery,
#temperature,
#wireplumber {
    background-color: #ddc7a1;
    border: 2px solid #c7ab7a;
    color: #1d2021;
}

#battery.charging,
#battery.plugged {
    background-color: #a9b665;
    border: 2px solid #c7ab7a;
    color: #6c782e;
}

#cpu.warning,
#memory.warning,
#battery.warning,
#temperature.warning {
    color: #c14a4a;
}

#cpu.critical,
#memory.critical,
#battery.critical,
#temperature.critical {
    color: #aa0000;
    font-weight: bold;
}
